.sidebar {
	position: fixed;
	top: 0;
	left: 0;
	margin-left: 30px;
	height: 90%;
	width: 200px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	background-color: rgba(88, 85, 85, 0.3);
	backdrop-filter: blur(0.5px);
	border-radius: 5px;
	overflow: auto;
	padding: 20px;
	margin-top: 27px;
}

.sidebar-header-text {
	font-size: 1.5em;
	font-weight: 600;
	color: #ffffff;
	text-decoration: underline 1px;
	text-underline-offset: 5px;
	text-align: center;
}

.sidebar-list-container {
	padding: 25px;
	margin: 0 20px;
	display: grid;
	align-items: center;
	justify-content: left;
}

.sidebar-list {
	list-style-type: none;
	font-size: 1.5em;
	color: #ffffff;
	font-weight: 400;
	text-transform: capitalize;
	letter-spacing: 1px;
}
