.weather-data-ui-container {
	margin: 0 20px;
	padding: 20px;
	margin-left: 280px;
	margin-top: -80px;
	height: 100%;
}

.weather-data-ui-container-error {
	margin: 0 20px;
	padding: 20px;
	margin-left: 280px;
	margin-top: -80px;
	margin-top: 100px;
}

.weather-data-ui-error {
	display: grid;
	align-items: center;
	justify-content: center;
	margin-top: 100px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	background-color: rgba(88, 85, 85, 0.3);
	backdrop-filter: blur(0.5px);
	border-radius: 5px;
}

.weather-data-error-text {
	text-align: center;
	font-size: 2.5em;
	font-weight: 600;
	color: #ffffff;
}

.weather-data-error-para {
	text-align: center;
	font-size: 1.5em;
	font-weight: 400;
	color: #a7a5a5;
}

.weather-data-ui {
	display: grid;
	align-items: center;
	justify-content: center;
	margin-top: 100px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	background-color: rgba(88, 85, 85, 0.3);
	backdrop-filter: blur(0.5px);
	border-radius: 5px;
}

.weather-data-header {
	text-align: left;
	font-size: 2.5em;
	font-weight: 600;
	color: #ffffff;
}

.weather-data-ui p {
	font-size: 1.2em;
}
